@model Taller.Core.Identity.IAspNetUser

@if (Model.IsAuthenticated())
{
    <div class="container col-6">
        <div class="form-group">
            <label for="mensagem">Menssage</label>
            <textarea class="form-control" id="mensagem" rows="2"></textarea>
        </div>
        <input type="button" class="btn btn-primary" id="send" value="Send" />
        <a asp-controller="Home" asp-action="Logout" class="btn btn-danger"> Logout</a>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="container col-6">
        <ul class="list-group" id="messagesList"></ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

}
else
{
    <div class="container col-6">
        <small class="title text-muted">You must be logged</small>
    </div>
}

<script type="text/javascript">
    "use strict";
    

</script>